@model CadastroUsuario.Models.Usuario

@{
    ViewData["Title"] = "Login Usuario";
    
}

<h1>Login Usuario</h1>

<br/>
<form asp-action="Entrar">
 <table>
        <tr>
            <td>@Html.LabelFor(a => a.Email)</td>
            <td>@Html.TextBoxFor(a => a.Email)</td>
            <td>@Html.ValidationMessageFor(a => a.Email)</td>
        </tr>
        <tr>
            <td> @Html.LabelFor(a => a.Senha)</td>
            <td> @Html.PasswordFor(a => a.Senha) </td>
            <td> @Html.ValidationMessageFor(a => a.Senha) </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Entrar" />
            </td>
            <td></td>
        </tr>
    </table>
    </form>
<br>
<a asp-action="Cadastro">Cadastrar</a>
<a asp-action="Recuperar">Recuperar a senha</a>